@charset 'utf-8';

/* このスタイルシートはnote_input.htmlとnote_input_complete.html、note_update.htmlへ適用 */

main {
    /* padding-bottom: 2rem; */
    
}

#wrapper {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
}