{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Title</title>
    </head>
    <body>
        <div id="wrapper">
            <header style="margin-bottom: 2rem;">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'myapp:index' %}" style="font-size: 32px;">Django</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'myapp:index' %}">トップ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'myapp:note_input' %}">投稿</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'myapp:note_list' %}">一覧</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </nav>
            </header>
            <main>
                <h1>メモの削除</h1>
                <form method="post">
                    {% csrf_token %}
                    <p>{{ object.created_at|date:"y/n/j H:i:s T" }}</p>
                    <p>{{ object.title }} を削除します</p>
                    <input class="btn btn-primary" type="submit" value"削除">
                </form>
            </main>
            <footer class="text-light bg-dark" style="position: absolute; bottom: 0;">
                <small style="">Copyright&copy; HAL. All Rights Reserved.</small>
            </footer>
        </div>
    </body>
</html>